<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block head_base %}
        <link rel='stylesheet' type='text/css' href='/bootstrap.css' />
        <script type="text/javascript" src="/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
        {% endblock head_base %}

        {% block title %}{% endblock title %}
        {% block head %}{% endblock head %}
    </head>
    <body>
        {{ nav }}
        {% block content %}{% endblock content %}
    </body>
</html>
