:root {
    --primary: 	hsl(174, 100%, 29%);
    --primary-hover-bg: hsl(174, 100%, 26%);
    --primary-active-bg: hsl(174, 100%, 32%);
    --primary-hover-fg: hsl(174, 100%, 40%);
    --submenu-hover-bg: rgb(229 231 235);
}

@font-face {
    font-family: 'WorkSans-Regular';
    /* Built files will be in the same folder, ignore */
    /*noinspection CssUnknownTarget*/
    src: url('WorkSans-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'WorkSans-Regular', serif;
}

h1 {
    max-width: var(--bs-breakpoint-md);
    text-align: center;
    font-size: 46px;
    margin: 40px auto;
}

article {
    max-width: var(--bs-breakpoint-md);
    margin: 10px auto;
    font-size: 18px;
    line-height: 26px;
}

@media (max-width: 768px) {
    article {
        padding: 0 20px;
    }
}

article .wp-block-image {
    margin: auto;
    text-align: center;
}

article figure {
    margin: 0;
}

article figure img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px auto;
}

article a {
    color: var(--primary);

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

article a:hover {
    color: var(--primary-hover-fg);
}

/*** Bootstrap Customizations ***/
.navbar {
    background-color: var(--primary) !important;
}

.nav-item {
    margin: 0 4px !important;
}

.nav-link {
    color: white !important;
    border-radius: 5px;
    padding: 8px 20px !important;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.nav-link:hover {
    background-color: var(--primary-hover-bg) !important;
}

.nav-link.active {
    background-color: var(--primary-active-bg) !important;
}

.dropdown-item {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.dropdown-item:hover {
    background-color: var(--submenu-hover-bg);
}

@media (max-width: 992px) {
    .navbar-collapse {
        margin-top: 4px !important;
    }

    .nav-item {
        margin-top: 4px !important;
    }
}

.navbar-toggler {
    border: none;
    color: white !important;
}
/*** End Bootstrap Customizations ***/